<%= simple_form_for(@sock) do |f| %>
  <%= f.input :title, input_html: { class: 'input-sm' } %>
  <%= f.input :description %>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <%= f.input :size %>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <%= f.input :price %>
    </div>
  </div>
  <%= f.input :shipping_method %>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <%= f.input :color %>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <%= f.input :cleanliness %>
    </div>
  </div>
  <%= f.input :photo, input_html: { class: 'custom-file-input' }, wrapper_html: { class: 'custom-file' } %>
  <%= f.input :photo_cache, as: :hidden, input_html: { class: 'custom-file-input' } %>
  <%= f.submit %>
<% end %>
