<%= simple_form_for(@sock) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :size %>
  <%= f.input :price %>
  <%= f.input :shipping_method %>
  <%= f.input :color %>
  <div class = "slidebar-show">
     <p>How clean is this sock?</p>
     <ul>
        <li><i class="far fa-frown"></i></li>
        <li><%= render "/components/slidebar" %></li>
        <li><i class="far fa-smile"></i></li>
     </ul>
  </div>
  <%= f.input :cleanliness, as: :hidden %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit %>
<% end %>
