<%= simple_form_for(@sock) do |f| %>
  <%= f.input :title, input_html: { class: 'input-sm' } %>
  <%= f.input :description %>
  <div class="row">
    <div class="col-xs-6">
      <%= f.input :size, as: :select, collection: Sock::SIZES, input_html: { prompt: "Filter by size" } %>
    </div>
    <div class="col-xs-6">
      <%= f.input :price_per_day %>
    </div>
  </div>
  <%# render '/components/radiobutton' %>
  <div classe="container-radio">
    <p style="font-size: 15px;font-weight:bold">Delivery Options</p>
    <div class="button-wrap">
      <label for="yes-button" class="button-label">
        <h1>Delivery</h1>
      </label>
      <label for="no-button" class="button-label">
        <h1>PickUp</h1>
      </label>
    </div>
  </div>
  <%= f.input :shipping_method, as: :hidden %>
  <%= f.input :color, as: :select, collection: Sock::COLORS %>
  <div class = "slidebar-show" id="bigrange">
    <p>How clean is this sock? </p>
    <ul>
      <li><i class="far fa-frown"></i></li>
      <li><%= render "/components/slidebar" %></li>
      <li><i class="far fa-smile"></i></li>
    </ul>
  </div>
  <%= f.input :cleanliness, as: :hidden %>
  <%= f.input :photo, input_html: { class: 'custom-file-input' }, wrapper_html: { class: 'custom-file' } %>
  <%= f.input :photo_cache, as: :hidden, input_html: { class: 'custom-file-input' } %>
  <%= f.button :submit, :class => 'btn btn-primary' %>
<% end %>

<%= javascript_pack_tag "slider" %>
