
<div class="content-socks">

  <div class="card-container">
    <div class="filter">
      <p style="font-size:14px;font-weight: bold;"> Filter socks :</p>
    <%= form_tag socks_path, method: :get do %>
      <%= select_tag :color, options_for_select(Sock::COLORS, selected: params[:color]), prompt: "Filter by color", class: 'dropdown btn btn-secondary dropdown-toggle dropdown-filter', style:'font-size:14px'%>
      <%= select_tag :size, options_for_select(Sock::SIZES, selected: params[:size]), prompt: "Filter by size", class: 'dropdown btn btn-secondary dropdown-toggle dropdown-filter', style:'font-size:14px' %>
      <div class='submit-boutton-filter', style="display: none;">
        <%= button_to :submit %>
      </div>
    <% end %>
    </div>

    <div class="row" style="margin-left: 21px; margin-right: 15px;">
      <% @socks.each do |sock| %>
        <%= link_to sock_path(sock.id) do %>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('<%= cl_image_path sock.photo %>');">
              <div class="card-category">New</div>
              <div class="card-description">
                <h2> <%= sock.title %></h2>
                <p><%= sock.description %></p>
              </div>
              <img class="card-user" url="http://kitt.lewagon.com/placeholder/users/ssaunier" >
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="col-xs-12 col-sm-4">
        <div class="faux-carre">
          <div class="btn-container text-center" >
          <%= link_to '+ Add a sock', new_sock_path, class: "btoun-bleu-cool " %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="map" style="position: relative;" data-markers="<%= @markers.to_json %>"></div>
</div>
