<h1><%= @sock.title %></h1>
<div class="sock-display">
  <div class="row">
    <div class="col-sm-5">
      <%= cl_image_tag @sock.photo, width: 400, height: 300, crop: :fill %>
    </div>
    <div class="col-sm-7">
      <h3>Sock description</h3>
      <p><%= @sock.description %></p>
      <h4>Details</h4>
      <div class="detail-list">
        <ul>
          <li><i class="fas fa-shoe-prints"></i> <%= @sock.size %></li>
          <li><i class="fas fa-euro-sign"></i> <%= @sock.price %></li>
          <li><i class="fas fa-palette"></i> <%= @sock.color %></li>
          <li><i class="fas fa-leaf"></i> <%= @sock.cleanliness %></li>
          <li><div class="btoun-bleu-cool">
          <%= link_to "Buy", new_sock_transaction_path(@sock) %>
          </div>
          </li>
          <li><a href="#" class="btn-treehouse">Buy</a></li>

        </ul>
      </div>
      <div class = "slidebar-show">
         <p>How clean is this sock?</p>
         <ul>
            <li><i class="far fa-frown"></i></li>
            <li><%= render "/components/slidebar" %></li>
            <li><i class="far fa-smile"></i></li>
         </ul>
      </div>
    </div>
  </div>
</div>

