<div class="img-product" style="background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('<%= @sock.photo %>')center center; background-size: cover;"><h1><%= @sock.title %></h1></div>
<div class="sock-detail-container">
  <div class="proprio">
    <p style="font-family:'Nunito';padding-bottom:5px;font-weight:bold"> Owner informations</p>
   <%= cl_image_tag @sock.user.photo, :transformation=>[{:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"}, {:width=>200, :crop=>"scale"} ], class: "avatar" %>
   <p style="font-family:'Nunito';font-weight:lighter"> <%= @sock.user.first_name %> <%= @sock.user.last_name %> </p>

   <p style="font-family:'Nunito';padding-bottom:5px; font-weight:bold; padding-top:8px"> <%= image_tag "place.png", id: "place", style:"height:20px"%> City location </p>
   <p> <%=  @sock.location %> </p>
  </div>
  <div class="sock-display">
    <div>
      <div class="sock-features">
        <div class="item">
          <div><%= image_tag "mesure.png", id: "place", style:"height:30px"%> <%= @sock.size %></div>
        </div>
        <div class="item">
          <div><%= image_tag "color_pic.png", id: "place", style:"height:30px"%> <%= @sock.color.capitalize %></div>
        </div>
      </div>
      <div class = "slidebar-show">
         <h2>Clean</h2>
         <ul>
            <li><i class="far fa-frown"></i></li>
            <li><%= render "/components/slidebar" %></li>
            <li> <i class="far fa-smile"></i></li>
         </ul>
      </div>
      <div class="sock-description">
        <h2>Description</h2>
        <p><%= @sock.description %></p>
      </div>
    </div>
  </div>
    <div class="sock-booking">
      <div class="box-booking">
        <div>
          <div class="price-content"><span class="price"><%= @sock.price_per_day %></span>&euro; <span class="day">per day</span></div>
          <%= render "form_booking" %>
        </div>
      </div>
    </div>
</div>
