<div class="img-product" style="background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('<%= @sock.photo %>')center center; background-size: cover;"><h1><%= @sock.title %></h1></div>
<div class="sock-detail-container">
  <div class="sock-display">
    <div>
      <div class="sock-features">
        <div class="item">
          <div><%= image_tag "mesure.png", id: "place", style:"height:30px"%> <%= @sock.size %></div>
        </div>
        <div class="item">
          <div><%= image_tag "color_pic.png", id: "place", style:"height:30px"%> <%= @sock.color %></div>
        </div>
      </div>
      <div class = "slidebar-show">
         <h2>Clean</h2>
         <ul>
            <li><i class="far fa-frown"></i></li>
            <li><%= render "/components/slidebar" %></li>
            <li> <i class="far fa-smile"></i></li>
         </ul>
      </div>
      <div class="sock-description">
        <h2>Description</h2>
        <p><%= @sock.description %></p>
      </div>
    </div>
  </div>
  <div class="box-booking">
    <div class="sock-booking">
      <div>
        <%= render "form_booking" %>
      </div>
    </div>
  </div>
</div>
