<div class="banner-dashboard" style="background:linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("<%= image_path("dashboard.jpg") %>") center center;"><h1>My socks</h1></div>
<div class="container">
  <ul class="inbox">
    <% @my_socks.each do |sock| %>
      <li class="message">
          <div class="message-profile flex-item"><%= cl_image_tag(sock.photo,
      width: 50, height: 50, crop: :fill) %></div>
          <div class="message-body">
            <div class="message-detail flex-item">
              <div class="name"><strong><%= sock.title %></strong></div>
            </div>
          </div>
          <%= link_to edit_sock_path(sock) do %>
            <i class="fa fa-edit"></i>  <%= t(".edit_sock", default: "Edit Sock") %>
          <% end %>
          <%= link_to sock_path(sock), method: :delete do %>
            <i class="fa fa-trash-alt"></i>  <%= t(".destroy_sock", default: "Delete Sock") %>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>

