<h1>Dashboard</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= cl_image_tag(@user.photo, width: 100, :transformation=>[
  {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
  {:width=>200, :crop=>"scale"}
  ]) %>
      <h4><%= @user.first_name %> <%= @user.last_name %> </h4>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="add">
        <%= link_to " + Create an add ", new_sock_path, class: "btoun-rose-cool navbar-wagon-link" %>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>My socks and bookings</h2>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">My socks</a></li>
    <li><a data-toggle="tab" href="#menu1">My bookings</a></li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>My socks</h3>
      <div class="container">
        <div class="row">
          <% @my_socks.each do |sock| %>
          <%= link_to sock_path(sock.id) do %>
            <div class="col-xs-12 col-sm-4">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('<%= cl_image_path sock.photo %>');">
                <div class="card-category">New</div>
                <div class="card-description">
                  <h2> <%= sock.title %></h2>
                  <p><%= sock.description %></p>
                </div>
                <img class="card-user" url="http://kitt.lewagon.com/placeholder/users/ssaunier" >
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>My bookings</h3>
      <ul>
        <% @my_transactions.each do |transaction| %>
          <li><%= transaction.sock.title %>
            <div class="btn btn-success">
              Accept
            </div>
            <div class="btn btn-danger">
              Decline
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

