<div class="banner-dashboard" style="background:linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("<%= image_path("dashboard.jpg") %>") center center;"><h1>My socks and bookings</h1></div>
<div class="container dashboard-container">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Bookings</a></li>
    <li><a data-toggle="tab" href="#menu1">Sales</a></li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <ul class="inbox">
        <% @transactions.each do |transaction| %>
          <li class="message" data-id="<%= transaction.id %>">
              <div class="avatar-large"><%= cl_image_tag(transaction.user.photo, width: 50, height: 50, crop: :fill) %></div>
              <div class="message-name">
                <div class="name"><strong><%= transaction.user.email %></strong></div>
              </div>
              <div class="message-body"><%= transaction.sock.title %></div>
              <div class="message-statut message-statut-seller" style="text-align: right">
                <% if transaction.statut == "pending" %>
                  <%= link_to 'Accept', validates_path(transaction), method: :patch, class: 'btn btn-success' %>
                  <%= link_to 'Decline', refuses_path(transaction), method: :patch, class: 'btn btn-danger' %>
                <% else %>
                  <%= transaction.statut %>
                <% end %>
              </div>
            </li>
        <% end %>
      </ul>    </div>
    <div id="menu1" class="tab-pane fade">
      <ul class="inbox">
        <% @my_sales.each do |sale| %>
          <li class="message">
              <div class="message-profile flex-item"><%= cl_image_tag(sale.user.photo, :width=>0.5, :crop=>"scale") %></div>
              <div class="message-detail flex-item">
                <div class="name"><strong><%= sale.user.email %></strong></div>
                <div class="date"><%= sale.starts_on %></div>
                <div class="date"><%= sale.ends_on %></div>
              </div>
              <div class="message-statut flex-item">
                <div class="statut"><%= sale.statut %></div>
                <div class="price"> <%= sale.sock.price_per_day %></div>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
