<div class="banner-dashboard"><h1>Pending Bookings And Historic</h1></div>
<div class="container dashboard-container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Pending bookings</a></li>
    <li><a data-toggle="tab" href="#menu1">Historic</a></li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <ul class="inbox">
        <% @my_transactions.each do |transaction| %>
          <li class="message">
              <div class="avatar-large"><%= cl_image_tag(transaction.user.photo, width: 50, height: 50, crop: :fill) %></div>
              <div class="message-name">
                <div class="name"><strong><%= transaction.user.email %></strong></div>
              </div>
              <div class="message-body"><%= transaction.created_at %></div>
              <div class="message-statut">
                <div class="statut"><%= transaction.statut %></div>
                <div class="price"> <%= transaction.sock.price_per_day %>€/day</div>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
    <div id="menu1" class="tab-pane fade">
      <ul class="inbox">
        <% @transactions.each do |transaction| %>
          <li class="message" data-id="<%= transaction.id %>">
            <div><%= cl_image_tag(transaction.user.photo, width: 50, height: 50, crop: :fill) %></div>
            <div class="message-name">
            <div class="name"><strong><%= transaction.user.email %></strong></div>
            </div>
            <div class="message-body"></div>
            <div class="message-statut">
                <%= transaction.statut %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



